
Assign_1/Problem_1/__pycache__/test.cpython-37.pyc
Assign_1/Problem_1/__pycache__/formatFunctions.cpython-37.pyc
Assign_1/Problem_1/__pycache__/demand_globalData.cpython-37.pyc
Assign_1/Problem_1/__pycache__/demand_functions.cpython-37.pyc
Assign_1/Problem_1/__pycache__/demand.cpython-37.pyc
Assign_1/Problem_1/__pycache__/aircraft_loadData.cpython-37.pyc
Assign_1/.DS_Store
.DS_Store
Assign_1/Problem_1/optimisation.pkl
Assign_1/.DS_Store
Assign_1/.DS_Store
Assign_1/Problem_1/__pycache__/demand_functions.cpython-37.pyc
Assign_1/Problem_1/__pycache__/demand_globalData.cpython-37.pyc
Assign_1/Problem_1/__pycache__/demand.cpython-37.pyc
